<form action="./logic" method="post">
    <div>
        <label for="input">Date time</label>
        <input type="date" name="date" id="input">
    </div>
    <input type="submit" value="Enviar">
</form>
